<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="userRequestDTO" type="com.jsp.jsp_pjt.user.domain.UserRequestDTO" />
        <typeAlias alias="userResponseDTO"  type="com.jsp.jsp_pjt.user.domain.UserResponseDTO" />
        <!-- board -->
       <typeAlias alias="boardResponseDTO"  type="com.jsp.jsp_pjt.board.domain.BoardResponseDTO" />
       <typeAlias alias="userboardResponseDTO"  type="com.jsp.jsp_pjt.board.domain.UserBoardResponseDTO" />
    </typeAliases>
</configuration>